/.idea/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# macOS!
.DS_store

# development
watir-screenshot-stitch-*.gem

# Gem best practice
# https://stackoverflow.com/a/4151540/1651458
Gemfile.lock
